@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", "Roboto", "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9; /* Warna area track */
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* Warna scrollbar (abu Tailwind) */
    border-radius: 9999px; /* Bikin bulat */
    border: 1px solid #e2e8f0; /* Efek ringan */
}
